[submodule "WindMobile-Server"]
	path = WindMobile-Server
	url = https://github.com/ysavary/WindMobile-Server.git
[submodule "Clients/WindMobile-iOS"]
	path = Clients/WindMobile-iOS
	url = https://github.com/ysavary/WindMobile-iOS.git
[submodule "Clients/WindMobile-Android"]
	path = Clients/WindMobile-Android
	url = https://github.com/ysavary/WindMobile-Android.git
[submodule "Clients/WindMobile-WP7"]
	path = Clients/WindMobile-WP7
	url = https://github.com/ysavary/WindMobile-WP7.git
